<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OnPremUserName" value="administrator" />
    <add key="OnPremDomain" value="spdev" />
    <add key="OnPremPassword" value="12345.Aa" />
    <add key="OnPremSiteCollection" value="http://devcajamar.encamina.com" />    
  </appSettings>
</configuration>